<div class="header">
  <div class="container">
    <div class="row">
      <div class="col-md-6 icon">
        <img src="./../../assets/pictures/cooking.png" alt="site icon" />
        <h1><a href="" class="title">Food Blog</a></h1>
      </div>
      <!-- Title -->
      <div class="col-md-3 login" *ngIf="authService.isAuthenticated()">
        <button class="logout btn btn-default" (click)="logout()">
          Logout
        </button>
        <a href="/add-post" class="logout btn btn-default">Add Post</a>
      </div>
      <div class="col-md-3 login" *ngIf="!authService.isAuthenticated()">
        <a href="/login" class="login btn btn-default">Login</a>
        <a href="/register" class="register btn btn-default">Register</a>
      </div>
      <!-- Login and Register -->
    </div>
  </div>
</div>