.new-post {
  float: right;
  padding-top: 10px;
}

.title {
  position: relative;
  display: flex;
  justify-content: center;
  top: 25px;
}

.title img {
  width: 800px;
  height: 800px;
}

.text-overlay {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #8a2be2;
  font-size: 24px;
}

.container {
  background: aliceblue;
  margin-bottom: 15px;
  max-width: 1500px;
}

.row {
  margin-left: 0px;
}

.container_posts {
  padding: 10px 0 10px 0;
}
.read-more {
  border: 2px solid black;
}

.container_post {
  display: flex;
}

.img_container {
  width: 20%;
}
.img_container img {
  width: 212px;
  height: 159px;
}
.blogpost {
  width: 80%;
  margin: 0 25px;
}

.img_container img {
  max-width: 100%;
  object-fit: fill;
  margin-top: 40px;
}

.container_categories {
  display: flex;
  gap: 50px;
  justify-content: space-around;
  padding: 40px 0;
}

.bar {
  display: flex;
  gap: 10px;
}

@media screen and (max-width: 480px) {
  .container_post {
    display: block;
  }

  .img_container {
    margin-bottom: 50px;
    display: grid;
    place-items: center;
    width: 100%;
  }
  .img_container img {
    max-width: 100%;
  }
}
