<div class="content">
  <div class="title">
    <div class="text-overlay">
      <h1>Găsește rețeta potrivită pentru poftele tale !</h1>
      <p>Avem rețete din cele mai importante bucătării ale lumii.</p>
    </div>
    <img src="./../../assets/pictures/chef-icon.png" alt="home_img" />
  </div>
  <div class="container">
    <div class="container_categories">
      <div class="bar">
        <button class="btn btn-secondary">Fish</button>
        <button class="btn btn-secondary">Pork</button>
        <button class="btn btn-secondary">Soup</button>
        <button class="btn btn-secondary">Salad</button>
        <button class="btn btn-secondary">Vegetable dishes</button>
        <button class="btn btn-secondary">Sauces and Salsa</button>
        <button class="btn btn-secondary">LAMB</button>
        <button class="btn btn-secondary">BIRD MEAT</button>
        <button class="btn btn-secondary">GROUND BEEF</button>
      </div>
      <div class="bar">
        <input type="text" class="search-input" placeholder="Search..." />
        <button class="search-button btn btn-secondary">Search</button>
      </div>
    </div>
    <div class="container_posts">
      <div class="container_post" *ngFor="let post of posts | async">
        <div class="img_container">
          <img src="{{ post.picture }}" alt="recipe_img" />
        </div>
        <div class="blogpost">
          <h6 [innerHTML]="post.category"></h6>
          <h3>
            <a href="/post/{{ post.id }}" class="blog-title">{{
              post.title
            }}</a>
          </h3>
          <p [innerHTML]="post.shortDescription"></p>
          <div>
            <a
              type="button"
              href="/post/{{ post.id }}"
              class="read-more btn btn-default"
              >Read More</a
            >
          </div>
          <hr />
        </div>
        <hr />
      </div>
    </div>
  </div>
</div>
